@model List<_1_PortfolioQuery.Contracts.ExperienceModel.ExperienceQueryModel>

<section id="cv_experience">
    <div class="section_title">
        <h3>Experience</h3>
    </div>
    <div class="fn_cs_boxed_list">
        <ul>
            @foreach (var experience in Model)
            {
                <li>
                    <div class="item">
                        <div class="item_top">
                            <h5>@experience.Place</h5>
                            <span>( @experience.StartDate — @experience.EndDate )</span>
                        </div>
                        <h3>@experience.Title</h3>
                        <p>@experience.Description</p>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>
